Source: factorio
Section: games
Priority: optional
Maintainer: "Vítězslav Dvořák" <info@vitexsoftware.cz>
Build-Depends: debhelper (>=11~),wget,awk,inkscape,curl, jq
Standards-Version: 4.1.4
Homepage: https://factorio.com/

Package: factorio
Depends: ${misc:Depends}, ${shlibs:Depends}, 
 xserver-xorg, 
 fonts-dejavu-core, 
 fonts-lato, 
 fonts-noto-mono, 
 fonts-noto-hinted, 
 fonts-noto-extra, 
 libgl1|nvidia-340|primus-libs|virtualbox-guest-x11|virtualbox-guest-x11-hwe
Architecture: amd64
Description: game in which you build and maintain factories.
 You will be mining resources, researching technologies, building 
 infrastructure, automating production and fighting enemies. 
 Use your imagination to design your factory, combine simple 
 elements into ingenious structures, apply management skills 
 to keep it working, and protect it from the creatures who 
 don't really like you. 
